
<html>
  <head>
    <title>Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div>
      <form action="" method="post">
        <label style="width: 100%"><b>First Name:</b> {{firstName}}</label>
        <label style="width: 100%"><b>Last Name:</b> {{lastName}}</label>
        <label style="width: 100%"><b>Email:</b> {{email}}</label>
	    <input class="btn btn-default" type="submit" value="Home">
      <form>
    </div>
  </body>
</html>