<html>
  <head>
    <title>Credits</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div>
        <h2>User:</h2>
        <form action="" method="post">
            <label style="width: 100%"><b>First Name:</b> {{firstName}}</label>
            <label style="width: 100%"><b>Last Name:</b> {{lastName}}</label>
            <label style="width: 100%"><b>Email:</b> {{email}}</label>
        </form>
        <h2>Creator:</h2>
        <form>
            <label style="width: 100%"><b>First Name:</b>Ethan</label>
            <label style="width: 100%"><b>Last Name:</b>Williams</label>
            <label style="width: 100%"><b>Email:</b>willi4en@mail.uc.edu</label>
        </form>
    </div>
  </body>
</html>